= simple_form_for  [@deal, @comment], :url => admin_deal_comments_path, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.input :message, input_html: {class: 'input-large', rows: 5}
    = f.input :contributor
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_deal_path(@deal), :class => 'btn'
