.main.container.how-it
  .popup
    .popup-arrow
      %img{:src => "/assets/arrow.png"}/
    .close-btn.glyphicon.glyphicon-remove-circle.working-close
    .row
      .col-xs-12.how-col12
        .col-xs-6.popup-logo.text-center.how-logo
          %img.img-responsive{:src => "/assets/logo.png"}/
        .col-xs-6.how-col
          .how-works.animated.bounceInRight.col-xs-12
            .col-xs-12.col-sm-4.works-left
              %h1 HOW IT WORKS
            .col-xs-12.col-sm-8.meal-listing
              - if HowItWork.first.present?
                %span #{HowItWork.first.heading.html_safe}
              -else
                %span Its Free Its Yummy
              %ul
                - if HowItWork.first.present?
                  %li #{HowItWork.first.line1}
                  %li #{HowItWork.first.line2}
                  %li #{HowItWork.first.line3}
                  %li #{HowItWork.first.line4} 
                -else
                  %li Buy 1 Meal - Get 10% of Each Meal
                  %li Buy 2 Meal - Get 20% of Each Meal
                  %li Buy 3 Meal - Get 30% of Each Meal
                  %li Buy 4 Meal - Get 40% of Each Meal    
= content_for :container do
  #container{data: {deals: @deals_json, locations: @locations_json, lunch_bag: @lunch_bag.to_json.to_json, is_user_signed_in: @is_user_signed_in.to_json}, class: 'span8'} Loading...
  %div{id: 'modal', class: 'modal hide fade'}                        
:css     
  body {
    overflow-x: hidden;
  }
  .popup {
   margin-top:-200px;
   z-index:1050;
  }
  .email-login{
  z-index:1050;
  }
  .main{
    padding-left:15%;
    padding-right:15%;
  }   
  #error_explanation li{
    font-family: 'Lato', sans-serif;
    color:red;
    list-style-type:square;
  }

  #error_explanation h2{
  display:none;
  }   
:javascript
    $( ".close-btn" ).click(function() {
        //$( ".main" ).fadeOut();
        window.location = "#{root_url}";
    });  