.sign-up-popup
  .main.container
    .popup
      .popup-arrow
        %img{:src => "/assets/arrow.png"}/
      .close-btn.glyphicon.glyphicon-remove-circle#sign-up-close
      .row
        .col-xs-12.email-body
          .col-xs-6.popup-logo.text-center.sign-up-logo
            %img.img-responsive{:src => "/assets/logo.png"}/
          .col-xs-6.col-sm-6.signup-popup
            .col-xs-12.social
              .social-icons
                = link_to image_tag( 'fb.png', :size=>"200x200"), user_omniauth_authorize_path(:facebook), :class=>"img-responsive"
            .col-xs-12.social
              .social-icons
                = link_to image_tag( 'link1.jpg'), user_omniauth_authorize_path(:linkedin), :class=>"img-responsive"    
    .row
      .col-xs-12.email-login
        .col-xs-4.email-text
          %p Don't have a LinkedIn or Facebook Account?
          %p Sign-up Using Your Email.
          %p 
            = devise_error_messages!
        .col-xs-8.email-form
          = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            .email-input
              = f.text_field :email, placeholder: 'Email'
            .email-input  
              = f.password_field :password, placeholder: 'Password'
            .email-input  
              = f.password_field :password_confirmation, placeholder: 'Password Confirmation'
              %input{:type => "submit", :value => "SUBMIT"}      
.how-it-works-popup
  .main.container.how-it
    .popup
      .popup-arrow
        %img{:src => "/assets/arrow.png"}/
      .close-btn.glyphicon.glyphicon-remove-circle.working-close
      .row
        .col-xs-12.how-col12
          .col-xs-6.popup-logo.text-center.how-logo
            %img.img-responsive{:src => "/assets/logo.png"}/
          .col-xs-6.how-col
            .how-works.animated.bounceInRight.col-xs-12
              .col-xs-12.col-sm-4.works-left
                %h1 HOW IT WORKS
              .col-xs-12.col-sm-8.meal-listing
                - if HowItWork.first.present?
                  %span #{HowItWork.first.heading}
                -else
                  %span Its Free Its Yummy
                %ul
                  - if HowItWork.first.present?
                    %li #{HowItWork.first.line1}
                    %li #{HowItWork.first.line2}
                    %li #{HowItWork.first.line3}
                    %li #{HowItWork.first.line4}
                    %li #{HowItWork.first.line5} 
                  -else
                    %li Buy 1 Meal - Get 10% of Each Meal
                    %li Buy 2 Meals - Get 20% of Each Meal
                    %li Buy 3 Meals - Get 30% of Each Meal
                    %li Buy 4 Meals - Get 40% of Each Meal
                    %li Buy 5 Meals - Get 50% of Each Meal   
  = content_for :container do
    #container{data: {deals: @deals_json, locations: @locations_json, lunch_bag: @lunch_bag.to_json.to_json, is_user_signed_in: @is_user_signed_in.to_json}, class: 'span8'} Loading...
    %div{id: 'modal', class: 'modal hide fade'}  
%div{class: "modal-backdrop fade in"}                            
:css     
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .sign-up-popup{
    position: absolute;
    left: 0%;
    top: 0%;
  }
  .how-it-works-popup{
    position: absolute;
    left: 0%;
    top: 0%;
  }
  .popup {
   z-index:1050;
  }
  .email-login{
  z-index:1050;
  }
  .main{
    padding-left:15%;
    padding-right:15%;
  }   
  #error_explanation li{
    font-family: 'Lato', sans-serif;
    color:red;
    list-style-type:square;
  }

  #error_explanation h2{
  display:none;
  }   
  .how-it{
  display:none;
  } 
  a{
    color:white;
  }
  a:hover{
    color:white;
  }
:javascript
  $( ".working-close" ).click(function() {
      //$( ".main" ).fadeOut();
      $(".how-it-works-popup").hide();
      window.location = "#{root_url}";
  });  
