.modal-body
  .row-fluid
    .span4
      = image_tag @deal.image_url(:thumb).to_s, class: 'img-rounded'
    .span4
      %h3= @deal.restaurant.try(:name) || 'No Restaurant'
      %h3= @deal.name
      %p=  @deal.description
    .span4
      = image_tag 'sample_map.png', class: 'img-rounded'
  .row-fluid
    .span4
      %h2= number_to_currency @deal.price
    .span4
      = link_to 'Add to Cart', '#', class: 'btn btn-primary add_to_cart', data: {url: cart_items_path(deal_id: @deal.id)}

