/ .row-fluid
/   %legend
/     Sign in
/     .pull-right= link_to '&times;'.html_safe, root_path
/   = render 'devise/shared/flash', flash: flash
/   = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
/     = f.email_field :email, class: 'span6', placeholder: 'Email'
/     = f.password_field :password, class: 'span6', placeholder: 'Password'
/     - if devise_mapping.rememberable?
/       %label.checkbox
/         = f.check_box :remember_me
/         Remember Me
/     %button{ type: 'submit', class: 'btn btn-info btn-block', name: 'submit'} Sign In
/   = render "devise/shared/links"
.main
  .popup
    = render 'devise/shared/flash', flash: flash
    .popup-arrow
      %img{:src => "/assets/arrow.png"}/
    .close-btn.glyphicon.glyphicon-remove-circle
    .row
      .col-xs-12
        .col-xs-6.popup-logo.text-center.signin-logo
          %img.img-responsive{:src => "/assets/logo.png"}/
        .col-xs-12.col-sm-6.signup-popup.signin-popup
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            .col-xs-8.signin-fields
              = f.email_field :email, placeholder: 'Email'
              = f.password_field :password, placeholder: 'Password'
            .col-xs-4.signin-button
              %input{:type => "submit", :value => "GO"}
          .devise-links
            = render "devise/shared/links"      
= content_for :container do
  #container{data: {deals: @deals_json, locations: @locations_json, lunch_bag: @lunch_bag.to_json.to_json, is_user_signed_in: @is_user_signed_in.to_json}, class: 'span8'} Loading...
  %div{id: 'modal', class: 'modal hide fade'}             
%div{class: "modal-backdrop fade in"}
:css 
  .devise-links{
    float:left;
    padding-left:10px;
    margin-top:-8px;
  }
  .popup {
   z-index:1050;
  }

  .main{
    position: absolute;
    left: 5%;
    top: 0%;
    display:block;
  }
  .alert-error{
  margin-top:-35px;
  text-align:center;
  color:#ffffff;
  background-color:#45A0CE;
  border-color:#45A0CE;
  }
  .signin-fields{
  padding-left:3px;
  }
  .col-xs-12{
  padding-left:8px;
  }
  a{
    color:white;
  }
  a:hover{
    color:white;
  }
:javascript
  $( ".close-btn" ).click(function() {
      //$( ".main" ).fadeOut();
      window.location = "#{root_url}";
  });  