.row-fluid
  %legend
    Sign in
    .pull-right= link_to '&times;'.html_safe, root_path
  = render 'devise/shared/flash', flash: flash
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.email_field :email, class: 'span6', placeholder: 'Email'
    = f.password_field :password, class: 'span6', placeholder: 'Password'
    - if devise_mapping.rememberable?
      %label.checkbox
        = f.check_box :remember_me
        Remember Me
    %button{ type: 'submit', class: 'btn btn-info btn-block', name: 'submit'} Sign In
  = render "devise/shared/links"
