!!!
%html
  %head
    %title Sample App
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ :class => 'btn btn-navbar', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to  deals_path, class: 'brand' do
            =image_tag 'logo-header.png'
          .nav-collapse
            %ul.nav.pull-right
              %li.nav-center-vertical
                .btn-group.nav
                  %button{ class: 'btn btn-large btn-inverse'} Support
                  %button{ class: 'btn btn-large btn-inverse'} Account
              %li.nav-center-vertical
                %p Logged In as:
                %p Haley
              %li.nav-center-vertical
                %button{ class: 'btn btn-large btn-inverse'} Log Out
    %ul.breadcrumb.no-background
      %li
        = link_to 'Dashboard', '#'
        %span.divider /
      %li.active
        = link_to 'Select Meals', '#'
    .container
      .row
        = yield :container
        #cart.span3
          .box
            .top
              %h2 Lunch Bag
            #cart_items.middle
          %button.btn.btn-large.btn-block.buy Buy Now
          

